body {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu{
    display: flex;
    gap: 20px;
}

.header-menu a {
    color: #ffffff;
    font-size: 18px;
    padding: 16px 0px;
    display: inline-block;
}